
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.main-nav-logo-image{
    max-width: 100%;
    width: 200px;
}
.seConnecter{
    width: 104px;
    height: 17px;
    font-size: 16px;
    margin-left: 10px;
    
}
.main-nav-item{
    display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: #2c3e50;

}
.usericon{
    display: flex;
    align-items: center;
    margin-right: 19px;
}
.usericon p{
    margin-left: 5px;
    font-weight: bold;
    color: #2c3e50;
}
.fa .fa-sign-out{
    

font-weight: bold;
    color: #2c3e50;
}
.fa{
    font-weight: bold
}